.totalePositivi {
  text-align: center;
  color: rgb(255, 170, 0);
  stroke-width: 2;
  font-size: 60px;
  line-height: normal;
}

.guariti {
  text-align: center;
  color: green;
  stroke-width: 2;
  font-size: 60px;
  line-height: normal;
}

.deceduti {
  text-align: center;
  color: lightgrey;
  stroke-width: 2;
  font-size: 60px;
  line-height: normal;
}

.totaleCasi {
  text-align: center;
  color: red;
  stroke-width: 2;
  font-size: 60px;
  line-height: normal;
}
