  <h1 class="text-center">Annotazioni</h1>
  <div class="row p-3 bg-light">
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="newAnnotation()">
        Nuovo <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row p-3 bg-light mt-3">
    <table class="col-12 table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Etichetta</th>
          <th scope="col">Valore</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of annotations">
          <th scope="row">{{item.Annotation_iId}}</th>
          <td>{{item.Annotation_sContent}}</td>
          <td>{{item.Annotation_sValue}}</td>
          <td><i class="fa fa-edit big" [routerLink]="['/dashboard/annotazione', item.Annotation_iId]"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
